.card {
  border-color: #4169E1;
}

.card-header {
  background: #4169E1;
}

#navs {
  background: threedhighlight;
}

#ver {
  background: #4169E1;
}

#editar {
  background-color: green;
}

#pdf {
  background: red;
}

#login {
  background: threedlightshadow;
}